/* ----------------------------------------------------------------------------------------------------------------
   Top Bar (نوار بالای صفحه برای پیام‌های متحرک)
-------------------------------------------------------------------------------------------------------------------- */
#top-bar {
  background-color: rgb(222, 199, 166);
  color: #000;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* ثابت نگه دارید */
  line-height: 35px;
  z-index: 1002;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

