/* ----------------------------------------------------------------------------------------------------------------
   Wrapper (محتوای اصلی)
-------------------------------------------------------------------------------------------------------------------- */
.wrapper {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: right;
  margin-top: 20px;
}


